{:paths ["src" "resources" "target"]
 :deps
  {
   org.clojure/clojure {:mvn/version "1.10.1"}
   org.clojure/clojurescript {:mvn/version "1.10.339"}
   re-frame {:mvn/version "0.10.6"}
   reagent {:mvn/version "0.8.1"}
   emojinos {:local/root "../emojinos"}}

 :aliases
 {
  :fig ;; https://figwheel.org/tutorial
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
   :main-opts ["-m" "figwheel.main"
               "--compile" "cards.ui.home"
               "--repl"]}

  :build-grain-ui
  {:main-opts ["-m" "cljs.main"
               "--optimizations" "advanced"
               "-c" "cards.ui.home"]}}}
